<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>EmployeeLoginController</servlet-name>
  	<display-name>EmployeeLoginController</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeRegistrationController</servlet-name>
  	<display-name>EmployeeRegistrationController</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeRegistrationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayEmployees</servlet-name>
  	<display-name>DisplayEmployees</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.DisplayEmployees</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerPageServlet</servlet-name>
  	<display-name>ManagerPageServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerPageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementServlet</servlet-name>
  	<display-name>ReimbursementServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ReimbursementServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Reimforpartemployee</servlet-name>
  	<display-name>Reimforpartemployee</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.Reimforpartemployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeProfileDetails</servlet-name>
  	<display-name>EmployeeProfileDetails</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeProfileDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayAllReimbursement</servlet-name>
  	<display-name>DisplayAllReimbursement</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.DisplayAllReimbursement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllAcceptedReim</servlet-name>
  	<display-name>AllAcceptedReim</display-name>
  	<description></description>
  	<servlet-class>erscontroller.com.AllAcceptedReim</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllRejectedReim</servlet-name>
  	<display-name>AllRejectedReim</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.AllRejectedReim</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateReim</servlet-name>
  	<display-name>UpdateReim</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.UpdateReim</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateReim2</servlet-name>
  	<display-name>UpdateReim2</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.UpdateReim2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateEmpProfile</servlet-name>
  	<display-name>UpdateEmpProfile</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.UpdateEmpProfile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmployeeLoginController</servlet-name>
  	<url-pattern>/EmployeeLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeRegistrationController</servlet-name>
  	<url-pattern>/EmployeeRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayEmployees</servlet-name>
  	<url-pattern>/DisplayEmployees</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerPageServlet</servlet-name>
  	<url-pattern>/ManagerPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementServlet</servlet-name>
  	<url-pattern>/ReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Reimforpartemployee</servlet-name>
  	<url-pattern>/Reimforpartemployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeProfileDetails</servlet-name>
  	<url-pattern>/EmployeeProfileDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayAllReimbursement</servlet-name>
  	<url-pattern>/DisplayAllReimbursement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllAcceptedReim</servlet-name>
  	<url-pattern>/AllAcceptedReim</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllRejectedReim</servlet-name>
  	<url-pattern>/AllRejectedReim</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateReim</servlet-name>
  	<url-pattern>/UpdateReim</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateReim2</servlet-name>
  	<url-pattern>/UpdateReim2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmpProfile</servlet-name>
  	<url-pattern>/UpdateEmpProfile</url-pattern>
  </servlet-mapping>
  
</web-app>
