* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
    position: relative;
    font-size: 20px;
    display: block;
    text-align: center;
    color: orangered;

}
header {
    color: white;
    background-color: rgb(97, 97, 228);
    font-weight: bold;
    text-align: center;
    padding: 3%;
}
section  { 
    background-color: rgb(11, 17, 16);
    padding: 6%;
}
footer {
    color: white;
    background-color:rgb(97, 97, 228);
    font-weight: bold;
    padding: 3%;
}
.navbar{

    background-color: rgb(22, 32, 30);
    padding: 15px;
}
 .nav-link {
    color: white;
    
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color:lightgreen;
  border-radius: 25px;
  
}

  a:hover {
    color: lightgreen;
    text-decoration: underline;
  }

/* Keep all demo styles inside the demo container: */
.demo p {
    padding-top: 25px;
    display: block;
    text-align: center;
    height: 123px;
    font-size: 30px;
    text-transform: capitalize;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.demo .row {
    margin: 5px 0px 5px 0px;
}

/* any div inside .demo, but not if its class row */
.demo div:not(.row) {
    border: 3px solid rgb(97, 97, 228);
    border-radius: 25px;
    
}

.col-sm-3 { 
    margin: 20px;
    color:white;
    background-color: rgb(97, 97, 228);

}
#tab {
    color: white;
    text-decoration: none;
}
#tab:hover {
    color: rgb(102, 97, 97);
    text-decoration: none;
  }

.control-label {
    color:white;  

}
  
.btn {
    background-color: rgb(97, 97, 228);
    color: white;
}
.form{
    padding: 20px;
}

.col-md-6 {
    position: relative;
    font-size: large;
}
